/***** mise en forme de la section album infos *****/
.album-info{
	background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.7) 100%);
}
.album-info>div{
	grid-template-columns: 30% 70%;
}
.album-info img{
	border-radius: 8px;
}
.album-info h1, .album-info .infos{
	margin: 10px 0px;
}
.album-info h1{
	font-size: 2.5em;
}
.album-info .infos{
	font-size: 1em;
	color: #FFFFFFF0;
}
.album-info .artist{
	margin-top: 10px;
	margin-bottom: 30px;
}
.album-info .artist a{
	font-size: 1.8em;
	font-weight: bold;
	text-decoration: none;
}
.album-info .artist a:hover{
	text-decoration: underline;
}
.album-info div>a{
	text-decoration: none;
	padding: 10px;
	border: 2px solid #12ab75;
	border-radius: 10px;
	margin-top: 40px;
}
.album-info div>a:hover{
	background-color: #12ab75;
}
/***** fin mise en forme de la section album infos *****/

/***** mise en forme de la section tracks *****/
.tracks{
	background: linear-gradient(rgba(0, 0, 0, 0.7) 0,#121212 100%);
	min-height: 500px;
}
table{
  border-collapse: collapse;
}
.tracks table th{
	text-align: left;
	font-size: 1.3em;
	font-weight: normal;
	color: #CECECE;
	border-bottom: 1px solid #8c8c8c;
	padding-bottom: 10px;
}
.tracks table thead tr>th:nth-child(1),
.tracks table thead tr>th:nth-child(2),
.tracks table thead tr>th:nth-child(4),
.tracks table thead tr>th:nth-child(5){
	width: 5%;
}
.tracks tbody tr{
	height: 60px;
}
.tracks tbody tr:hover{
	background-color: hsla(0,0%,100%,.1);
}
tbody td{
	font-size: 1.3em;
}
.tracks tbody tr td:nth-child(1),
.tracks tbody tr td:nth-child(3) a{
	color: #FFF;
	text-decoration: none;
}
.tracks tbody tr td:nth-child(2),
.tracks tbody tr td:nth-child(4),
.tracks tbody tr td:nth-child(5){
	color: #8c8c8c;
}
.tracks tbody tr:hover td:nth-child(2),
.tracks tbody tr td:nth-child(3) a:hover,
.tracks tbody tr td:nth-child(4) i:hover{
	color: #12ab75;
}
.tracks tbody tr td:nth-child(4) i:hover{
	cursor: pointer;
}
.tracks tbody tr td:nth-child(3) a:hover{
	text-decoration: underline;
}
/***** fin mise en forme de la section tracks *****/

/***** media queries *****/
@media screen and (max-width: 768px){
	.album-info>div{
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		justify-content: center;
	}
	.album-info>div>div:nth-child(2){
		text-align: center;
	}
	.tracks>div{
		padding: 0px 10px;
	}
}
/***** fin media queries *****/