/***** mise en forme de la section artiste id *****/
.artist-id{
	background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.7) 100%);
	min-height: 600px;
}
.artist-id img{
	border-radius: 50%;
	box-shadow: 0 1px 20px rgba(25,25,34,.24);
}
.artist-id h1{
	font-size: 2.5em;
	margin-bottom: 10px;
}
.artist-id p{
	color: #FFFFFFDE;
	margin-bottom: 40px;
}
.artist-id a{
	text-decoration: none;
	padding: 10px;
	border: 2px solid #12ab75;
	border-radius: 10px;
}
.artist-id a:hover{
	background-color: #12ab75;
}
/***** fin mise en forme de la section artiste id *****/