/***** mise en forme reste du main*****/
main{
	min-height: 600px;
}
main h1 i{
	color: #12ab75;
}
main table{
	width: 80%;
	border-collapse: collapse;
}
main table th{
	text-align: center;
	font-size: 1.3em;
	font-weight: normal;
	color: #757575;
	border-bottom: 1px solid #757575;
	padding-bottom: 10px;
}
main table thead tr>th:nth-child(1),
main table thead tr>th:nth-child(3){
	width: 5%;
}
main table thead tr>th:nth-child(4){
	width: 20%
}
main tbody tr{
	height: 60px;
}
main tbody tr:hover{
	background-color: #ddd;
}
main tbody td{
	font-size: 1.3em;
}
main tbody tr td:nth-child(2) a{
	color: #000;
	text-decoration: none;
}
main tbody tr td:nth-child(1),
main tbody tr td:nth-child(3){
	color: #757575;
}
main tbody tr td:nth-child(2) a:hover,
main tbody tr:hover td:nth-child(1){
	color: #12ab75;
}
main tbody tr td:nth-child(4){
	text-align: center;
	font-size: 1em;	
}
main tbody tr td:nth-child(4) a{
	color: #757575;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;	
	border-radius: 50%;
}
main tbody tr td:nth-child(4) a:hover{
	color: #ce0000;
	background-color: #75757570;
}
/***** fin mise en forme reste du main*****/

/***** media queries *****/
@media screen and (max-width: 768px){
	main table{
		width: 100%;
	}
}
/***** fin media queries *****/