/***** styles généraux des pages *****/
body *{	
	box-sizing: border-box;
}
body{
	margin: 0px;
	font-family: Open Sans, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: Arial, sans-serif;
}
/***** fin styles généraux des pages *****/

/***** mise en forme du header *****/
header{
	border-bottom: 1px solid #eaeaea;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
	position: fixed;
	background-color: #FFF;
	z-index: 1000;
	top: 0;
}
header nav{
	grid-template-columns: 20% 80%;
	align-items: center;
}
header nav a{
	text-decoration: none;
	color: #0f0f0f;
}
.nav-brand{
	font-size: 1.9em;
	font-weight: 700;
}
header nav ul li{
	margin-right: 60px; 
}
header nav ul a{
	font-size: 1.2em;
}
header nav ul a:hover,
header nav ul a:focus{
	color: #12ab75;
}
/***** fin mise en forme du header *****/

/***** mise en forme du footer *****/
footer{
	background-color: #101010;
	border-top: 1px solid #eaeaea69;
}
footer div{
	grid-template-columns: auto auto;
	justify-items: center;
}
footer a, footer p{
	color: #eaeaea;
	font-size: 0.9em;
	text-decoration: none;
}
footer ul{
	padding-left: 0px;
}
footer ul li{
	margin-right: 50px;
}
footer ul a:hover,
footer ul a:focus{
	text-decoration: underline;
}
/***** fin mise en forme du footer *****/

/***** modele de boîte *****/
.d-grid{
	display: grid;
}
.d-flex{
	display: flex;
}
.container{
	width: 100%;
	margin: auto;
}
.unstyled{
	list-style: none;
}
.w-100{
	width: 100%;
}
.w-80{
	width: 80%;
}
.m-auto{
	margin: auto;
}
.py-30{
	padding: 30px 0px;
}
.py-5{
	padding: 5px 0px;
}
.pos-relative{
	position: relative;
}
/***** fin modele de boîte *****/

/***** styles de texte et boite *****/
.text-green{
	color: #12ab75;
}
.text-white{
	color: #FFF;
}
.text-center{
	text-align: center;
}
/***** fin styles de texte et boite *****/

/***** styles généraux des mains *****/
main{
	padding-top: 80px;
}
/***** fin styles généraux des mains *****/

/***** media queries *****/
@media screen and (min-width: 557px){
	.container{
		max-width: 507px;
	}
}
@media screen and (min-width: 576px){
	.container{
		max-width: 540px;
	}
}
@media screen and (min-width: 768px){
	.container{
		max-width: 720px;
	}
}
@media screen and (min-width: 992px){
	.container{
		max-width: 960px;
	}	
}
@media screen and (min-width: 1200px){
	.container{
		max-width: 1140px;
	}	
}
@media screen and (max-width: 768px){
	header nav{
		padding: 0px 10px;
	}
	header nav ul{
		flex-direction: column;
		align-items: end;
	}
	footer>div{
		padding: 0px 10px;
	}
	footer ul{
		flex-direction: column;
	}
	footer p{
		align-self: center;
	}
}
/***** fin media queries *****/