/***** mise en forme de la section recherche *****/
.research{
	background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.7) 100%);
	padding-top: 5px;
	padding-bottom: 30px;
}
.research h1{
	font-size: 4em;
	font-weight: normal;
}
.research form{
	grid-template-columns: 50% 30% 20%;
	justify-items: center;
}
.research input, .research select{
	color: #FFF;
	background: transparent;
	border: 5px solid #FFF;
	border-radius: 30px;
}
.research input{
	font-size: 3em;
}
.research select, .research .btn-apply{
	font-size: 1.5em;
}
.research .btn-apply{
	color: #FFF;
	background-color: #12ab75;
	border-style: none;
	border-radius: 30px;
	width: 70%;
	cursor: pointer;
}
/***** fin mise en forme de la section recherche *****/

/***** mise en forme de la section résultats *****/
.search-result{
	background: linear-gradient(rgba(0, 0, 0, 0.7) 0,#121212 100%);
	min-height: 500px;
}
.search-result h2{
	font-size: 2em;
}
#result-ctnr{
	flex-flow: row wrap;
	justify-content: space-around;
}
#result-ctnr figure{
	width: 230px;
	margin: 16px 20px;
	padding: 15px;
	background-color: #0d0d0d;
	border-radius: 5px;
}
#result-ctnr figure:hover{
	background-color: #282828;
	transition: 0.5s;
}
#result-ctnr figure .btn-action{
	font-size: 1em;
	text-align: center;
	color: #FFF;
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	background-color: #12ab75;
	border-radius: 50%;
}
#result-ctnr figure .btn-action i{
	line-height: 40px;
}
#result-ctnr figure .btn-play{ /*position du bouton play*/
	bottom: 12px;
	left: 5px;	
}
#result-ctnr figure .btn-disc{ /*position du bouton disc*/
	bottom: 12px;
	left: 52px;
	display: none;
}
#result-ctnr figure .btn-heart{ /*position du bouton favoris*/
	bottom: 12px;
	left: 100px;
	display: none;
}
#result-ctnr figure:hover > div .btn-disc,
#result-ctnr figure:hover > div .btn-heart{
	display: block;
}
#result-ctnr figcaption h3, #result-ctnr figcaption p{ /*position du bouton favoris*/
	margin: 5px 0px;
	font-size: 1em;
}
#result-ctnr figcaption p{
	color: #b9b9b9;
}
/***** fin mise en forme de la section résultats *****/

/***** media queries *****/
@media screen and (max-width: 992px){
	.research form{
		grid-template-columns: min-content;
		grid-gap: 20px;
		justify-content: center;
	}
	.research input{
		font-size: 2.4em;
	}
}
/***** fin media queries *****/