/***** mise en forme de la section album infos*****/
.album-info>div{
	grid-template-columns: 30% 70%;
}
.album-info .album-cover{
	border-radius: 10px;
	box-shadow: 0 1px 20px rgba(25,25,34,.24);
}
.album-info h1{
	font-size: 2.5em;
}
.album-info .infos{
	color: #757575;
	margin-bottom: 50px;
}
.album-info .infos+div{
	grid-template-columns: 20% 80%;
	align-items: center;
}
.album-info .infos+div img{
	border-radius: 50%;
	box-shadow: 0 1px 20px rgba(25,25,34,.24);
}
.album-info .infos+div p a{
	font-size: 2.5em;
	text-decoration: none;
	color: #12ab75;
	font-weight: 600;
}
.album-info .infos+div p a:hover{
	text-decoration: underline;
}
/***** fin mise en forme de la section album infos*****/

/***** mise en forme de la section du lecteur audio*****/
.sound-head h2{
	font-size: 2em;
	font-weight: 300;
	margin: 10px 0px;
}
.sound-head>div>div:first-child{
	grid-template-columns: auto auto;
	justify-content: start;
	align-items: center;
}
.sound-head .track{
	margin-right: 100px;
}
.sound-head .track-info{
	color: #757575;
}
.sound-head .track+div a{
	display: inline-block;
}
.sound-head .track+div a:nth-child(1){
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.1em;
	color: #757575;
	text-align: center;
	border: 2px solid #12ab75;
	border-radius: 50%;
	margin-right: 50px;
}
.sound-head .track+div a:nth-child(1):hover{
	color: #12ab75;
}
.sound-head .track+div a:nth-child(2){
	color: #FFF;
	text-decoration: none;
	background-color: #12ab75;
	padding: 10px;
	border-radius: 10px;
}
.sound-head>div>div:nth-child(2) span{
	display: block;
	width: min-content;
	color: #757575;
	border: 2px solid #12ab75;
	border-radius: 5px;
	padding: 2px 3px;
	margin-bottom: 10px;
}
/***** fin mise en forme de la section du lecteur audio*****/

/***** media queries *****/
@media screen and (max-width: 1000px){
	.album-info>div{
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		justify-items: center;
	}
	.album-info>div>div:nth-child(2){
		text-align: center;
	}	
}
@media screen and (max-width: 768px){
	.sound-head>div>div:first-child{
		grid-template-columns: 100%;
		text-align: center;
	}
	.sound-head>div>div:first-child>div:nth-child(1){
		margin-right: 0px;
	}
	.sound-head>div>div:nth-child(2){
		padding-left: 20px;
	}
}
/***** fin media queries *****/